root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*.{cs,csx}]
indent_size = 4
csharp_style_namespace_declarations = file_scoped:warning
csharp_prefer_braces = true:silent

[*.{json,yml,yaml,md,razor,html,css,js}]
indent_size = 2

[*.csproj]
indent_size = 2
